@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
:root {
    --interface-primary: #2E3192;
    --interface-secondary: #8DC63F;
    --interface-gray: #E5E5E5;
    --text: #858585;
    --interface-bg: #EEEEEE;
    --white: #ffffff;
    --standard-radius: 10px;
    --component-radius: 3px;
    --font-size: 16px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: var(--font-size);
    background: var(--text);
}

.bold-text {
    font-weight: 700;
}

.normal-text {
    font-weight: 400;
}

.header {
    position: relative;
    width: 100%;
    height: 69px;
    background: #2E3192;
    -webkit-box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: var(--standard-radius);
}

.floatbutton {
    position: absolute;
    width: 335px;
    height: auto;
    left: 20px;
    top: 28px;
    background: var(--white);
    -webkit-box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: var(--standard-radius);
}

.alarm {
    width: 86px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--white);
}

.patternbutton {
    background: var(--interface-gray);
    font-size: var(--font-size);
    color: var(--text);
}

.patternbutton .input-group-text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text);
    background: var(--interface-gray);
    border-color: var(--interface-gray);
}

.patternbutton>.form-control {
    background: var(--interface-gray);
    border-color: var(--interface-gray);
}

.patternbutton.form-control {
    border: 1px solid var(--interface-gray);
    border-radius: var(--component-radius);
}

.tooglebutton {
    position: relative;
    right: 20px;
}

.btn-app {
    font-size: 18px;
    border-radius: var(--standard-radius);
    padding-top: 12px;
    padding-bottom: 12px;
}

.btn-primary {
    background: var(--interface-secondary);
    border-color: var(--interface-secondary);
    color: var(--white);
}

.btn-secondary {
    background: var(--interface-gray);
    border-color: var(--interface-gray);
    color: var(--text);
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--interface-secondary);
}

input:focus+.slider {
    -webkit-box-shadow: 0 0 1px var(--interface-secondary);
    box-shadow: 0 0 1px var(--interface-secondary);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
}

.app-label {
    font-size: 14px;
    line-height: 34px;
    color: var(--text);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* #camposAdicionais {
    display: block;
} */